* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --color-bg: #4f3a59; /* Example background color */
  --color-text: #FFFFFF; /* Example text color */
  --font-family: 'Arial', sans-serif; /* Example font family */
  --gradient-text: linear-gradient(90deg, #bab1d5, #aa8bb9); /* Example gradient */
}

body {
  background: var(--color-bg);
  font-family: var(--font-family);
  color: var(--color-text);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: radial-gradient(circle at 3% 25%, rgb(194, 186, 223) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 1rem; /* Adjusted for smaller screens */
  }

  .section__margin {
    margin: 2rem 1rem; /* Adjusted for smaller screens */
  }
}