@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Roboto Slab', serif;

  --color-bg: #b5a7bec9;
  --color-footer: #111212;
  --color-button: #7d629e;
  --color-text: #17191a;
  --color-subtext: #9b86a2;
}